*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ------------------- HEADER -------------------- */
#header{
    display: flex;
    flex-direction: column;
    background-color: #3E405B;
    padding: 20px;
}
#nav-wrapper{
    display: flex;
    align-items: center;
}

/* login */
.login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}
.login .fas{color: white;}

/* logo */
.logo{
    display: flex;
    gap: 10px;
    background-color:#80B299;
    padding: 10px 8px;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
}
.logo p{color: white;}
.logo .fas{
    animation: idleLogo 3s infinite ;
}

/* menu */
#menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
    align-items: center;
}
#menu a{
    color: white;
    text-decoration: none;
}
#menu .activo{
    background-color: #E17A60;
    padding: 5px 10px;
    border-radius: 5px;

}

/* ------------------- main -------------------- */

#main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color:#F3F1DD;
    padding: 40px 60px;
    gap: 20px;
    flex: 1;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    height: 350px;
    align-items: center;
    padding-top: 60px;
    gap: 40px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    overflow: hidden;
}
.card p{
    text-align: center;
}
.card .fas{
    transform: scale(3);
}

/* ------------------- footer -------------------- */

#footer{
    display: flex;
    background-color: #3E405B;
    padding: 50px 70px;
}
#footer .politicas a, .redes .fa{
    color: white;
    text-decoration: none;
}
#footer .politicas,.redes{
    display: flex;
    gap: 20px;
}
#footer .politicas{
    margin-left: auto;
}

/* ------------------- animaciones -------------------- */

@keyframes idleLogo {
    0%{
        transform: rotateY(0deg) translateY(0);
    }50%{
        transform: rotateY(180deg) translateY(-8px);
        color: white;
    }100%{
        transform: rotateY(360deg) translateY(0);
    }
}
@keyframes hoverLogo {
    0%{
        transform: translateY(0);
        color: white;
    }50%{
        transform: translateY(30px);
        color: white;

    }100%{
        transform: translateY(0);
        color: white;
    }
}
@keyframes bajarLogo {
    from{
        transform: translateY(-200px) scale(3);
    }to{
        transform: translateY(0) scale(3);
    }
}
@keyframes bajarTitulo {
    from{
        transform: translateY(-100px);
    }to{
        transform: translateY(0);
        color: white;
    }
}
@keyframes moverTextoDerecha {
    from{
        transform: translateX(-300px);
    }to{
        transform: translateY(0);
        color: white;
    }
}

/* ------------------- hovers -------------------- */

#menu a:not(.activo):hover{
    color: #E17A60;
}
.login .fas:hover ,#footer .politicas a:hover, #footer .redes .fa:hover{
    color: #E17A60;
}
.logo:hover ,.card:hover{
    background-color: #E17A60;
}
.card:hover .fas{
    color:#F1CC8E;
}
.logo:hover .fas{
    animation: hoverLogo 0.75s forwards;
}
.card:hover .fas {
    animation: bajarLogo 0.4s linear forwards;
}
.card:hover h3 {
    animation: bajarTitulo 0.45s forwards;
}
.card:hover p{
    animation: moverTextoDerecha 0.3s linear forwards;
}


/* ------------------- RESPONSIVE -------------------- */

