* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background-color: #030013;
    color: white;
  }
  
  .perfil {
    display: grid;
    grid-template-rows: auto;
    padding: 140px 40px 40px;
  }
  
  /* --------------------FILA 1--------------------- */
  .fila-perfil-form {
    background-color: #f6d1d6;
    border-radius: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 30px;
  }
  
  /* Formulario */
  .formulario {
    display: grid;
    gap: 10px;
    color: black;
  }
  
  .formulario h2 {
    margin-bottom: 10px;
  }
  
  .formulario label {
    font-size: 0.9rem;
  }
  
  .formulario input,
  .formulario select {
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .formulario button {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
  }
  
  /* Columna derecha */
  .perfil-foto {
    display: grid;
    gap: 15px;
    justify-items: center;
    align-content: center;
    color: black;
  }
  
  .perfil-foto img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
  }
  