body{
    font-family: Arial,Verdana,sans-serif;
}
h1{
    font-family: Georgia, Times, serif;
    font-variant: small-caps;
    font-size: 32px;
}
h2{
    font-family: Georgia, Times, serif;
    font-variant: small-caps;
    font-size: 24px;
}
span{
    font-weight: bold;
    font-style:normal;
}
li{
    font-style: italic;
}