@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    color: white;
    background-color: rgb(39, 38, 38);
}

.montserrat{
    font-family: 'Montserrat';
}

/* --------------------------- */
.escena {
    position: relative;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    display: inline-block;
    border: 4px solid #333; 
    box-shadow: 0 0 20px black;
    
  }
  
  .fondo-img {
    display: block; 
    max-width: 100vw; 
    max-height: 80vh; 
  }


/* ---------------------------Pato------------------------- */

#pato{
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 40px;
    left: 50px;
    
    transform: scale(3);
    image-rendering: pixelated; /* para que se pueda ver bien la imagen (mejor calidad) ya que es pixel art*/
    background-image: url("./sprites/pj/Idle.png");
    animation: 
        idlePato 0.8s steps(6) infinite;
}

#Empezar:checked ~ #pato{
    background-image: url(./sprites/pj/Walk.png);
    animation:
        moverPato 2s linear forwards,
        caminarPato 1.6s steps(4),
        saltoPato 2s ease-out forwards 2s;
        
}


/* ----------------------------Boss------------------------ */

#boss{
    position: absolute;
    width: 128px;
    height: 150px;
    bottom: 145px;
    right: 50px;
    
    transform: scale(2);
    image-rendering: pixelated;
    background-image: url("./sprites/boss/spr_enemy_finalboss_normal_strip6.png");
}

#Empezar:checked ~ #boss{
    
    animation: 
        moverBoss 4s linear 1 forwards,   
        caminarBoss 1s steps(6) infinite forwards;
        
}

#bossHit{
    position: absolute;
    width: 128px;
    height: 150px;
    bottom: 145px;
    right: 30px;
    
    display: none;
    transform: scale(2);
    image-rendering: pixelated;
    background-image: url("./sprites/boss/spr_enemy_finalboss_hurt_strip2.png");
    animation: 
        bossHit 0.5s steps(2) infinite,
        moverBoss 4s linear 1 forwards;
}
/* OJO FALTA CAMBIAR LAS ANIMACIONES DE BOSS IDLE Y CORRER */


/* ---------------"botón de inicio combate"--------------- */
.btn-empezar{
    position: fixed;
     display: inline-block;
     background-color:green;
     cursor:crosshair;
     left: 50%;
     top: 20%; 
     z-index: 1;
     transform: translate(-50%);
     padding: 15px 10px;
     border: 2px solid black;
     outline: gray;
     box-shadow: 0 5px 20px black , inset 0 1.5px 0 white;

}

.btn-empezar:hover {
    background: rgb(51, 161, 51);
    box-shadow: 
        0 12px 25px rgba(0,0,0,0.7),
        inset 0 1px 0 rgba(255,255,255,0.5);
    transform: translateX(-50%) translateY(-3px);
}

.btn-empezar:active{
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
    transform: translateX(-50%) translateY(2px);
}

#Empezar:checked + .btn-empezar {
    opacity: 0;
    transform: translateX(-50%) translateY(-100px) scale(0.6) rotate(10deg);
    cursor: default;
    transition: all 0.5s linear;
}

#Empezar{
    display: none;
}

.btn-empezar + #Empezar:checked{
    box-shadow: inset ;
}


/* --------------------animaciones---------------------- */


/* -------------------------Pato------------------------ */

/* sprite animations */

@keyframes idlePato{
    from{
        background-position: 0 0;
    }to{
        background-position: 384px 0;
    }
}
@keyframes caminarPato{
    from{
        background-position: 0 0;
    }to{
        background-position: 256px 0;
    }
}
@keyframes vueloPato {
    /* encajar los cambios con la cantidad de separaciones del saltoPat */
}

/* position animations */

@keyframes moverPato {
    from{ 
        left: 50px;
     }to{
        left: 200px;
    }
}
@keyframes saltoPato {
    0% {
        bottom: 40px;
        left: 200px;   
    }
    30% {
        bottom: 220px;
        left: 215px;
    }
    60% {
        bottom: 300px;
        left: 235px;
    }
    85% {
        bottom: 230px;
        left: 255px;
    }
    100% {
        bottom: 145px; 
        left: 265px;
    }
}


/* ------------------------Boss-------------------------- */


/* sprite animations */


@keyframes bossHit{
    from {
        background-position: 0 0;
    }to{
        background-position: -250px 0;
    }
}

/* position animations */

@keyframes moverBoss{
    from{ }to{
        right: 250px;
    }
}


@keyframes caminarBoss{
    from{
        background-position: 0 0;
    }to{
        background-position: -756px 0;
    }
}