h1{
    border: 2px solid #00f;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.datos{
    border: 2px solid #AAA;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

}
ul{
    border: 2px solid #0f0;
    margin-left: 10px;
    margin-right: 10px;
}
li{
    padding: 5px;
}
