* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background-color: #030013;
    color: white;
  }
  
  /* Contenedor general similar a .divisiones */
  .mercado {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 40px;
    padding: 140px 40px 40px; /* espacio por el header fijo */
  }
  
  /* -------- FILA 1: título -------- */
  .fila-mercado-titulo {
    text-align: center;
  }
  
  .fila-mercado-titulo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .fila-mercado-titulo p {
    font-size: 1rem;
  }
  
  /* -------- FILA 2: grid productos -------- */
  .fila-mercado-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .producto {
    background-color: #17029F;
    padding: 15px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
  }
  
  .producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .producto h2 {
    font-size: 1.1rem;
  }
  
  .producto .precio {
    font-weight: 600;
  }
  
  .producto .detalle {
    font-size: 0.9rem;
  }
  
  .producto button {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
  }
  
  .producto button:hover {
    background-color: rgba(0, 0, 255, 0.2);
  }
   /* --------------FILTRO----------------- */

   