* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat',sans-serif;
    background-color: #030013;
}

/* --------------------DIVISIONES---------------------- */
.divisiones {
    display: grid;
    grid-template-rows: repeat(3,auto);
    object-fit: cover;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* -----------------------fila 1------------------------ */

.fila:nth-child(1){
    background-color: #030013;
    padding: 50px;
    z-index: -1;
}
#imgInicio-div{
    contain: layout; /* a diferencia de contain content , layout lo que hace es que se pueda vez el texto en este caso , aunque estea fuera*/
}
#imgInicio-div p ,#imgInicio-div h2 {
    contain: none;
    color: white;
    position: absolute;
    transform-origin: center;
    line-height: 1.5;
}
#imgInicio-div .title{
    bottom: 0;
    left: 50%;
    transform: translate(20%,30%);
    font-size: large;
    direction: rtl; /* esto es lo que hace que se escriba con el margen a la dercha*/
}
#imgInicio-div .description{
    bottom: 0;
    left:0;
    transform: translateY(75%);
}
/* -----------------------fila 2------------------------ */
.fila:nth-child(2) {
  background-color: #17029F;
  padding: 40px;
}

/* Contenedor que oculta lo que se sale por los lados */
.carousel-container {
  position: relative;
  margin: 0;
  overflow: hidden;
}

/* Pista que se mueve en horizontal */
.carousel-track {
  display: flex;
  gap: 20px;
  animation: carouselInfinito 60s linear infinite;
  transition: 0.3s ease;
}
.carousel-slide {
  cursor: pointer;
  transform: translateY(0) scale(1);
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  flex: 0 0 33.33%;
}

.carousel-slide img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.carousel-slide .description {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

@keyframes carouselInfinito {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* hovers */
.carousel-track:hover .carousel-slide {
  transform: translateY(10px) scale(0.9);
  opacity: 0.7;
}

.carousel-track:hover .carousel-slide:hover {
  transform: translateY(-10px) scale(1.05);
  opacity: 1;
  z-index: 10;
}

/* -----------------------fila 3------------------------ */

.fila:nth-child(3){
    position: relative;
    background-color: #030013;
    padding: 50px;
}