*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

h1{
    background-color: pink;
    color: blue;
}

.caja{
    width: 333px;
    height: 150px;
    background-color: yellow;
}