*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
}

h1{
    background-color: blue;
}

.caja{
    width: 333px;
    height: 150px;
    background-color: green;
}   

@media screen and (min-width:481px) and (max-width:768px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
    background-color: yellow;
    }

    h1{
        background-color: green;
    }

    .caja{
        width: 333px;
        height: 150px;
        background-color: blue;
    }
}

@media screen and (min-width:769px){
    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body{
    background-color: aqua;
    }

    h1{
        background-color: orange;
    }

    .caja{
        width: 333px;
        height: 150px;
        background-color: gold;
    }
}