*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgba(188, 188, 188, 0.744);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

/* Ejercicio 10 */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    transform: translate(0,50%);
    border-radius: 20px;
    padding:20px 0 20px 0;
    justify-self: center;
    background-color: #363536;
}
.form .input-span{
    width: 80%;
    display: flex;
    flex-direction: column;
}
input[type="email"], input[type="password"]{
    border-radius: 20px;
    outline: 2px solid gray;
    border: none;
    padding: 0.75rem;
    background: #505050;
    font-family: Montserrat;
}
input[type="email"]:focus, input[type="password"]:focus{
    outline: 2px solid #58BC82;
}
input[type="email"]:hover, input[type="password"]:hover{
    cursor:text;
}
a, label{
    color: #009520;
    text-decoration: none;
}
label{
    margin-bottom: 5px;
}
.span:not(.input-span){
    color: aliceblue;
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border:none;
    position: relative;
    z-index: 1;
    margin: 10px;
    overflow: hidden;
    color: #58BC82;
    background-color: black;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}


button::before,
button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    /* skew lo que hace es basicamente hacer que la divison sea oblicua en vez de vertical , no tiene mas funcion que esa */
    transition: all 0.5s;
    z-index: -1;
}
button::before {
    left: -10px;
    background: #363536;
}

button::after {
    right: -10px;
    background: rgb(128, 126, 126);
}

button:hover::before,
button:hover::after {
    width: 58%;
}


@keyframes flashCamara {
    0% { 
        box-shadow: 0 0 20px rgba(255,255,255,0);
        filter: brightness(1);
    }
    50% { 
        box-shadow: 0 0 50px rgba(255,255,255,1); 
        filter: brightness(2);
    }
    100% { 
        box-shadow: 0 0 0 rgba(255,255,255,0); 
        filter: brightness(1);
    }
}

button:not(:hover) {
    animation-name: flashCamara;
    animation-duration: 0.3s;
    animation-delay: 0.35s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

/* Ejercicio 11 */

/* Ejercicio 12 */