footer {
    background-color: rgb(246, 209, 214); 
    border-top: 1px solid white;
    padding: 20px 40px;
    font-size: 15px;
    color: black;
    
}

.fcontenido {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: start;
    column-gap: 40px;
}

.finfo {
    max-width: 300px;
    
}

.finfo h3 {
    margin-bottom: 10px;
    color: black;
}

.finfo p {
    margin: 5px 0;
}

.fredes {
    display: grid;
    justify-items: center;
    gap: 10px;  
}

.finfo a {
    text-decoration: none; 
    color: inherit; 
}

.finfo a:hover {
    color: blue; 
}

.fredes .icono {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    text-decoration: none;
}

.fredes .icono:hover {
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3); 
}

.copy {
    margin-top: 15px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: gray;
}