header {
    display: flex;
    padding: 20px 20px 120px 20px;
    background-color: rgb(255, 255, 255);
    font-size: larger;
    top: 0;
    justify-content: center;
}

nav {
    display: grid;
    position: fixed;
    z-index: 999;

    grid-template-columns: repeat(3,1fr);
    background-color: rgb(246, 209, 214);
    align-items: center;

    gap: 1rem;
    margin: 0 20px;
    padding: 10px 5px 10px 5px;
    border-radius: 100px;
}

.nav-buttons {
    display: flex;
    gap:5%;
    justify-content:right;
    margin-right: 20px;
}

.icono-boton {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    position: relative;
}
.icono-boton:hover {
    background-color: rgba(0,0,255,0.2);
}

#logo img {
    height: 80px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    justify-content: center;
    gap: 20px;
    padding: 5px 0;
}

li {
    border-radius: 100px;
    padding: 5px;
}

li > a {
    color: black;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 20px;
}

.activo {
    background-color: blue;
    color: white;
}

li > a:hover:not(.activo) {
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}

li > a.activo:hover {
    transform: translateY(-3px);
}