header {
    display: flex;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    font-size: larger;
    top: 0;
    justify-content: center;
}

nav {
    display: grid;
    z-index: 999;

    grid-template-columns: repeat(3,1fr);
    background-color: rgb(246, 209, 214);
    align-items: center;

    gap: 1rem;
    padding: 10px 5px 10px 5px;
    border-radius: 100px;
}

.nav-buttons {
    display: flex;
    gap:5%;
    justify-content:right;
    margin-right: 20px;
}

.icono-boton {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    position: relative;
}
.icono-boton:hover {
    background-color: rgba(0,0,255,0.2);
}

#logo img {
    height: 80px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    justify-content: center;
    gap: 20px;
    padding: 5px 0;
}

li {
    border-radius: 100px;
    padding: 5px;
}

li > a {
    color: black;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 20px;
}

.activo {
    background-color: blue;
    color: white;
}

li > a:hover:not(.activo) {
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}

li > a.activo:hover {
    transform: translateY(-3px);
}

/* ------------------RESPONSIVE------------------ */

/* Pantalla grande: hasta 1650px */
@media (max-width: 1650px) {
  #logo img {
    height: 70px;
  }

  li > a {
    padding: 5px 12px;
  }
}

/* Pantalla media*/
@media (max-width: 1350px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    padding: 8px 5px;
  }

  #logo img {
    height: 65px;
  }

  li > a {
    padding: 5px 10px;
    font-size: 0.95rem;
  }
}

/* Portátil */
@media (max-width: 1120px) {
  header {
    padding: 30px 20px;
  }

  nav {
    grid-template-columns: auto 1fr auto;
    gap: 0.6rem;
    padding: 6px 10px;
  }

  #logo img {
    height: 60px;
  }

  li > a {
    padding: 4px 10px;
    font-size: 0.9rem;
  }

  .nav-buttons {
    margin-right: 10px;
    gap: 5%;
  }
}

/* Tablet */
@media (max-width: 820px) {
  nav {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  ul {
    display: none; /* ocultamos el menú para tablet/móvil, la idea es para hacer el menu hamburguesa */
  }
}

/* Móvil */
@media (max-width: 480px) {
  header {
    padding: 20px 10px;
  }

  #logo img {
    height: 50px;
  }

  .nav-buttons {
    gap: 8px;
  }

  .boton-hamburguesa {
    width: 40px;
    height: 40px;
  }

  li > a {
    padding: 4px 8px;
    font-size: 0.85rem;
  }
}