* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat',sans-serif;
    background-color: #030013;
}

/* --------------------DIVISIONES---------------------- */
.divisiones {
    display: grid;
    grid-template-rows: repeat(3,auto);
    object-fit: cover;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* -----------------------fila 1------------------------ */

.fila:nth-child(1){
    background-color: #030013;
    padding: 50px;
    z-index: -1;
}
#imgInicio-div{
    contain: layout; /* a diferencia de contain content , layout lo que hace es que se pueda vez el texto en este caso , aunque estea fuera*/
}
#imgInicio-div p ,#imgInicio-div h2 {
    contain: none;
    color: white;
    position: absolute;
    transform-origin: center;
    line-height: 1.5;
}
#imgInicio-div .title{
    bottom: 0;
    left: 50%;
    transform: translate(20%,30%);
    font-size: large;
    direction: rtl; /* esto es lo que hace que se escriba con el margen a la dercha*/
}
#imgInicio-div .description{
    bottom: 0;
    left:0;
    transform: translateY(75%);
}
/* -----------------------fila 2------------------------ */

/* no es un carrusel , corregir , va a ser como una animacion infinita (mover hacia un lado constante) que te deje clicar y redirija a la noticio */

.fila:nth-child(2) {
    background-color: #17029F;
    padding: 40px;
}
.carousel-container{
    position: relative;
    margin: 0;
    overflow: hidden;
    overflow: hidden;
}
.carousel-track{
    display: flex;
    justify-content: center;
}
.carousel-slide{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex:  0 0 33.33%;
    transition: all 0.3s ease;
}
.carousel-slide img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.carousel-slide .description{
    position: absolute;
    z-index: 100;
    bottom: 2.5%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.carousel-track {
    display: flex;
    justify-content: center;
    animation: carouselInfinito 60s linear infinite;
    transition: 0.3s ease;
    gap: 20px;
}

/* .carousel-track:hover {
    animation-play-state: paused;
} */

@keyframes carouselInfinito {
    0% { transform: translateX(0); }
    100% { transform: translateX(-33.33%); }
}

/*hacer la animación mas lenta y quitar las img extra del html, ajustar el tiempo*/

.carousel-track:hover .carousel-slide{
    z-index: 2;
    filter: blur(5px);
    opacity: 0.5;
    transform: scale(0.8);
}

.carousel-slide:hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(1.1);
    z-index: 10;
}

/* -----------------------fila 3------------------------ */

.fila:nth-child(3){
    position: relative;
    background-color: #030013;
    padding: 50px;
}


/* CAMBIAR FOTOS Y DEMÁS */