* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat',sans-serif;
    background-color: #030013;
}

/* -----------------------divisiones------------------------ */
.divisiones {
    display: grid;
    grid-template-rows: repeat(3,auto);
    object-fit: cover;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* -----------------------fila 1------------------------ */

.fila:nth-child(1){
    position: relative;
    background-color: #030013;
    padding: 50px;
}
#imgInicio-div{
    contain: layout; /* a diferencia de contain content , layout lo que hace es que se pueda vez el texto en este caso , aunque estea fuera*/
}
#imgInicio-div p ,#imgInicio-div h2 {
    contain: none;
    color: white;
    position: absolute;
    transform-origin: center;
    line-height: 1.5;
}
#imgInicio-div .title{
    bottom: 0;
    left: 50%;
    transform: translate(20%,30%);
    font-size: large;
    direction: rtl; /* esto es lo que hace que se escriba con el margen a la dercha*/
}
#imgInicio-div .description{
    bottom: 0;
    left:0;
    transform: translateY(75%);
}
/* -----------------------fila 2------------------------ */

/* no es un carrusel , corregir , va a ser como una animacion infinita que te deje clicar y redirija a la noticia */
.fila:nth-child(2){
    background-color: #17029F;
}
/* -----------------------fila 3------------------------ */

.fila:nth-child(3){
    background-color: #030013;
}
