* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
}

form[class="formulario"] {
    width: 350px;
    margin: 40px;
    padding: 20px;
    background-color: rgb(246, 209, 214);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px 20px;
}

form[class="formulario"] > h2 {
    grid-column: 1 / -1;
    text-align: center;
}

label[for] {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

select[name="pais"] {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

button[type="submit"] {
    grid-column: 1 / -1;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.8);
}